<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.abhishekbansode.cityguideapp">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CityGuideApp"
        tools:targetApi="31">
        <activity
            android:name=".Common.LogInSignUp.SignUp"
            android:exported="false" />
        <activity
            android:name=".Common.LogInSignUp.Login"
            android:exported="false" />
        <activity
            android:name=".Common.LogInSignUp.RetailerStartUpScreen"
            android:exported="false" />
        <activity
            android:name=".User.AllCategories"
            android:exported="false" />
        <activity
            android:name=".Common.OnBoarding"
            android:exported="false" />
        <activity
            android:name=".Common.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".User.UserDashboard" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>